<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Tables</title>
</head>
<body>
    <h1>Available Tables</h1>
    {% if available_tables %}
        <ul>
            {% for table in available_tables %}
                <li>{{ table }}</li>
                <form method="POST" action="{% url 'make_reservation' table.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="reservation_date" value="{{ reservation_date }}">
                    <input type="hidden" name="reservation_time" value="{{ reservation_time }}">
                    <input type="hidden" name="reservation_length" value="{{ reservation_length }}">
                    <button type="submit">Reserve Table</button>
                </form>
            {% endfor %}
        </ul>
    {% else %}
        <p>No tables available for the selected time slot.</p>
    {% endif %}

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>
