{% extends "base.html" %}

{% block content %}
    {% load static %}
    {% load crispy_forms_tags %}
    <h1>Make a Reservation</h1>
    <form method="post" action="{% url 'check_availability' %}">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit">Check Availability</button>
    </form>

    {% if available_tables %}
        <h2 id="availableTables">Available Tables</h2>
        <ul>
            {% for table in available_tables %}
                <li>
                    Table {{ table.table_number }} ({{ table.capacity }} people)
                    <form method="post" action="{% url 'make_reservation' table.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="reservation_date" value="{{ form.reservation_date.value }}">
                        <input type="hidden" name="reservation_time" value="{{ form.reservation_time.value }}">
                        <input type="hidden" name="reservation_length" value="{{ form.reservation_length.value }}">
                        <input type="hidden" name="first_name" value="{{ form.first_name.value }}">
                        <input type="hidden" name="last_name" value="{{ form.last_name.value }}">
                        <input type="hidden" name="number_of_guests" value="{{ form.number_of_guests.value }}">
                        <input type="hidden" name="table_location" value="{{ form.table_location.value }}">
                        <input type="hidden" name="message" value="{{ form.message.value }}">
                        <input type="hidden" name="email" value="{{ form.email.value }}">
                        <button type="submit">Reserve Table</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        {% if form.is_bound and not available_tables %}
            {% if form.number_of_guests.value %}
                {% if form.number_of_guests.value|add:0 > max_capacity %}
                    <p>If you wish to book a table for {{ form.number_of_guests.value }} people, please <a href="{% url 'contact' %}">contact us using the contact form</a>.</p>
                {% else %}
                    <p>Unfortunately, we do not have a table available for your group of {{ form.number_of_guests.value }} at the chosen time. Please <a href="{% url 'contact' %}">contact us using the contact form</a> for assistance, or try searching for another time or date.</p>
                {% endif %}
            {% else %}
                <p>No tables available for the selected time slot.</p>
            {% endif %}
        {% endif %}
    {% endif %}
    <div id="popup_container"></div>

    <script src="{% static 'js/get_opening_hours.js' %}"></script>
    <script>
        // Pass show_popup value from Django to JavaScript
        const showPopup = "{{ show_popup }}";
    </script>

{% endblock %}
