{% extends "base.html" %}

{% block content %}

{% load static %}

<h1>My Reservations</h1>

<div class="text-center container">
    <a href="{% url 'reservation' %}" class="btn btn-secondary make-reservation">Make a Reservation</a>
</div>
{% if reservations %}
<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Reservation Date</th>
                <th>Reservation Time</th>
                <th>Table Number</th>
                <th>Number of Guests</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.reservation_date|date:"d/m/Y" }}</td>
                <td>{{ reservation.formatted_reservation_time }} - {{ reservation.reservation_end_time_plus_one_minute }}</td>
                <td>{{ reservation.table }}</td>
                <td>{{ reservation.number_of_guests }}</td>
                <td>
                    <a href="{% url 'process_edit_reservation_check' reservation_id=reservation.reservation_id %}" class="btn btn-secondary btn-sm">Edit</a>
                    <a href="{% url 'cancel_reservation' reservation.reservation_id %}" class="btn btn-danger btn-sm">Cancel</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>You have no reservations.</p>
{% endif %}

{% endblock %}
