{% extends "base.html" %}

{% block content %}

{% load static %}

<h1>My Reservations</h1>

    {% if reservations %}
    <table>
        <thead>
            <tr>
                <th>Reservation Date</th>
                <th>Reservation Time</th>
                <th>Table Number</th>
                <th>Number of Guests</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.reservation_date|date:"d/m/Y" }}</td>
                <td>{{ reservation.formatted_reservation_time }} - {{ reservation.reservation_end_time_plus_one_minute }}</td>
                <td>{{ reservation.table }}</td>
                <td>{{ reservation.number_of_guests }}</td>
                <td>
                    <a href="{% url 'edit_reservation' reservation.reservation_id %}">Edit</a>
                </td>
                <td>
                        <a href="{% url 'cancel_reservation' reservation.reservation_id %}">Cancel</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>You have no reservations.</p>
    {% endif %}

{% endblock %}