{% extends "base.html" %}

{% block content %}
    {% load static %}
    {% load crispy_forms_tags %}
    <h1>Edit Reservation</h1>
    <form method="post" action="{% url 'check_availability_edit' reservation.reservation_id %}">
        {% csrf_token %}
        {{ form | crispy }}
        <input type="hidden" name="is_edit" value="true">
        <button class="btn btn-primary "type="submit">Check Availability</button>
    </form>
    <div type="hidden" id="edit-reservation-page"></div>

    {% if available_tables %}
        <h2 class="text-center mt-4" id="availableTables">Available Tables</h2>
        <ul class="list-unstyled mt4">
            {% for table in available_tables %}
                <li class="ms-3 fs-5">
                    Table {{ table.table_number }} ({{ table.capacity }} people)
                    <form method="post" action="{% url 'process_edit_reservation_update' reservation_id=reservation.reservation_id table_id=table.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="reservation_date" value="{{ form.reservation_date.value }}">
                        <input type="hidden" name="reservation_time" value="{{ form.reservation_time.value }}">
                        <input type="hidden" name="reservation_length" value="{{ form.reservation_length.value }}">
                        <input type="hidden" name="first_name" value="{{ form.first_name.value }}">
                        <input type="hidden" name="last_name" value="{{ form.last_name.value }}">
                        <input type="hidden" name="number_of_guests" value="{{ form.number_of_guests.value }}">
                        <input type="hidden" name="table_location" value="{{ form.table_location.value }}">
                        <input type="hidden" name="message" value="{{ form.message.value }}">
                        <input type="hidden" name="email" value="{{ form.email.value }}">
                        <button class="btn btn-secondary" type="submit">Update Reservation</button>
                        <input type="hidden" name="reservation_id" value="{{ reservation.reservation_id }}">
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    
    {% if alert_message %}
        <p id="alertMessage">{{ alert_message | safe }}</p>
    {% endif %}

    <div class="row mt-4">
        <h3 class="text-center">Table Layout</h3>
        <div class="col-lg-12">
            <img class="mx-auto d-block my-3" src="{% static 'images/table_map.png' %}" alt="Restaurant Map" class="img-fluid">
        </div>
    </div>


    <script>        
        const reservationTime = "{% if reservation.reservation_time %}{{ reservation.reservation_time|time:'H:i' }}{% endif %}";
        const reservationLength = "{% if reservation.reservation_length %}{{ reservation.reservation_length}}{% endif %}";
        console.log(reservationLength)
        console.log(reservationTime)
    </script>
    <script src="{% static 'js/get_opening_hours.js' %}"></script>

{% endblock %}
