{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container my-5">
    <div class="text-center">
        <h1>BigByte Restaurant</h1>
        <p class="lead"></p>
    </div>

    <div class="row">

        <!-- Intro Text Section -->
        <div class="col-10 offset-md-1 mb-4">
            <p class="my-4">
                Here at BigByte, our goal is to make food that we enjoy making, and that our guests enjoy eating. We believe in keeping things simple and down-to-earth, with a focus on fresh, local ingredients and hearty, home-style meals. Our restaurant is a place where you can relax, unwind, and enjoy a casual, comfortable atmosphere. Whether you're stopping by for a quick bite or settling in for a leisurely dinner, we aim to provide friendly service and delicious food that brings a smile to your face.
            </p>
        </div>
        

        <!-- First Row -->
        <div class="col-md-6 mb-4 d-flex align-items-center  p-4 fs-5">
            <p>We feel that allowing our staff to feel a sense of excitement and enthusiasm whilst making your food is important. We hope you experience the same sense of satisfaction when sharing our food here with your friends and loved ones.</p>
        </div>
        <div class="col-md-6 mb-4">
            <img src="https://res.cloudinary.com/drrywrvwv/image/upload/v1721092654/pexels-flodahm-541216_eaberb.jpg" class="img-fluid custom-rounded custom-padding" alt="Overhead Table">
        </div>

        <!-- Second Row -->
        <div class="col-md-6 mb-4">
            <img src="https://res.cloudinary.com/drrywrvwv/image/upload/v1721092640/rod-long-I79Pgmhmy5M-unsplash_ap8bre.jpg" class="img-fluid custom-rounded custom-padding" alt="Coffee Counter">
        </div>
        <div class="col-md-6 mb-4 d-flex align-items-center  p-4 fs-5">
            <p>Both short visits for a takeaway coffee and long evenings with friends over food and wine are encouraged here. We will do our best to deliever the same quality to all of our guests.</p>
        </div>

        <!-- Third Row -->
        <div class="col-md-6 mb-4 d-flex align-items-center  p-4 fs-5">
            <p>Our dedicated staff are always on the look out for new ideas, new recipes and new inspiration. Feel free to share anything you like with them next time you pop by.</p>
        </div>
        <div class="col-md-6 mb-4">
            <img src="https://res.cloudinary.com/drrywrvwv/image/upload/v1721092661/pexels-ketut-subiyanto-4350089_bohipz.jpg" class="img-fluid custom-rounded custom-padding" alt="Staff at Computer">
        </div>
        

        <!-- Fourth Row -->
        <div class="col-md-6 mb-4">
            <img src="https://res.cloudinary.com/drrywrvwv/image/upload/v1721092617/pexels-tim-douglas-6205635_cjgjq0.jpg" class="img-fluid custom-rounded custom-padding" alt="Waiter Smiling">
        </div>
        <div class="col-md-6 mb-4 d-flex align-items-center p-4 fs-5">
            <p>Once you come through the doors, you are in our home, and we welcome you like family. We do our utmost to make your dining experience as enjoyable and memorable as possible. Our experienced staff are always ready to greet you with a warm smile, and will ensure that every detail is taken care of from the moment you arrive, until the moment you leave. Whether you’re here for a casual meal or a special occasion, we strive to make your visit truly special.</p>
        </div>
        
    </div>
</div>

{% endblock %}
