<p>Dear Staff,</p>

<p>The following reservation has just been made:</p>

<ul>
    <li>Guest: {{ guest_first_name }} {{ guest_last_name }}</li>
    <li>Date: {{ reservation_date }}</li>
    <li>Time: {{ reservation_time }}</li>
    <li>Length: {{ reservation_length }}</li>
    <li>Message: {{ message }}</li>
</ul>

<p>The reservation database has been updated accordingly.</p>
<p>If there are any issues with this, please contact a senior member of staff who can sort it out with the guest.</p>

<p>BigByte Restaurant</p>
