/* General reset and body styles */
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('https://res.cloudinary.com/drrywrvwv/image/upload/v1721092663/toa-heftiba-6bKpHAun4d8-unsplash_lbjyez.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
    position: relative;
}

/* Header styles */
h1 {
    text-align: center;
    margin: 3%;
}

/* Button styles */
.btn {
    margin: 1vh auto;
    background-color: brown;
    font-size: 100%;
    border-color: white;
    font-weight: bolder;
}

.btn-primary {
    margin: 4vh auto;
    font-size: 120%;
    display: flex;
    align-self: center;
}

a {
    color: brown;
}

/* Form and input styles */
.form-check-input:checked {
    background-color: brown;
    border-color: brown;
}

/* Table styles */
.table {
    margin-top: 20px;
    background-color: rgba(244, 237, 228, 1);
    border-collapse: collapse;
    width: 100%;
}

.table th, .table td {
    padding: 12px;
    text-align: left;
    vertical-align: middle;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: brown;
}

.thead-dark {
    background-color: rgba(165, 42, 42, 0.5);
}

@media (max-width: 768px) {
    .table-responsive {
        border: 0;
    }
}

/* Background overlay styles */
.main-bg {
    background-color: rgba(244, 237, 228, 0.9);
    width: 70%;
    margin: 8vh auto;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1200px) {
    .main-bg {
        width: 80%;
        margin: 4vh auto;
    }
}

@media (max-width: 768px) {
    .main-bg {
        width: 95%;
        margin: 2vh auto;
    }
}

.main-bg > main {
    padding-top: 0vh;
}

/* Navbar styles */
.navbar {
    background-color: rgba(244, 237, 228, 1);
    backdrop-filter: blur(10px);
    width: 80%;
    margin: 0 auto;
    z-index: 2;
}

@media (max-width: 1200px) {
    .navbar {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .navbar {
        width: 100%;
    }
}

/* Form container styles */
form {
    width: 80%;
    margin: 0 auto;
}

/* Center content vertically on hero image */
.container-hero {
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
}

/* Footer styles */
footer {
    background-color: rgba(244, 237, 228, 1);
    margin: 0;
}

/* Additional styles */
.link-to-reservation {
    display: flex;
    align-self: center;
}

.bi {
    color: brown;
    font-size: 24px;
    margin-right: 20px;
    transition: color 0.3s ease;
}

.home-page h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #333;
}

.home-page p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #666;
}

img {
    border-radius: 10px;
}

.carousel .carousel-item img {
    max-height: 500px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .home-page h1 {
        font-size: 2.5rem;
    }
    .home-page p {
        font-size: 1rem;
    }
}

.text-brown{
    color: brown;
}
