{% extends "base.html" %}

{% block content %}

{% load static %}
    <h1>Menu Items</h1>

    <div class="d-flex flex-column align-items-center justify-content-center">
        {% include 'allergens/like_what_you_see.html' %}
    </div>

    <form method="get" id="allergen-form">
        <div class="container">
            <!-- Allergens Section -->
            <div class="mb-4">
                <h5 class="fw-bold fs-4 text-brown">Remove items that include:</h5>
                <div class="row gy-2">
                    {% for allergen in allergens %}
                    <div class="col-6 col-sm-4 col-md-4 col-lg-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="{{ allergen }}" id="allergen-{{ allergen }}" {% if allergen in request.GET %}checked{% endif %}>
                            <label class="form-check-label" for="allergen-{{ allergen }}">
                                <span class="fs-5 fw-bold">{{ allergen }}</span>
                            </label>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
    
            <!-- Dietary Preferences Section -->
            <div>
                <h5 class="fw-bold fs-4 text-brown">Dietary Preferences:</h5>
                <div class="row gy-2">
                    <div class="col-6 col-sm-4 col-md-4 col-lg-3 fs-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="vegan" id="diet-vegan" {% if request.GET.vegan %}checked{% endif %}>
                            <label class="form-check-label" for="diet-vegan">
                                <span class="fs-5 fw-bold">Vegan</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="vegetarian" id="diet-vegetarian" {% if request.GET.vegetarian %}checked{% endif %}>
                            <label class="form-check-label" for="diet-vegetarian">
                                <span class="fs-5 fw-bold">Vegetarian</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Buttons -->
            <div class="mt-4">
                <button class="btn btn-secondary me-2" type="submit">Filter</button>
                <a href="{% url 'menu_items_list' %}" class="btn btn-secondary">Clear Filters</a>
            </div>
        </div>
    </form>
    
    
    {% include 'allergens/menu_section.html' with section_title="Starters" items=starters filters=filters %}
    {% include 'allergens/menu_section.html' with section_title="Mains" items=mains filters=filters %}
    {% include 'allergens/menu_section.html' with section_title="Kids" items=kids filters=filters %}
    {% include 'allergens/menu_section.html' with section_title="Sides" items=sides filters=filters %}
    {% include 'allergens/menu_section.html' with section_title="Desserts" items=desserts filters=filters %}

    <div class="d-flex flex-column align-items-center justify-content-center">
        {% include 'allergens/like_what_you_see.html' %}
    </div>

{% endblock %}